input,
output {
	border: 2px solid $orange;
	padding: 1em;
}

input {
	width: 100%;
}

.input-wrapper,
output {
	width: 49%;
	float: left;
	margin-right: 1%;
}

label {
	font-weight: bold;
	padding-bottom: 1em;
	padding-top: 1em;
	display: block;
	cursor: pointer;
}

fieldset {
	@extend %cf;
	margin-bottom: 1em;
}

.input-wrapper {
	position: relative;
}

.input-clear {
	position: absolute;
	top: .9em;
	right: .75em;
	text-decoration: none;
}

// hide input[type="number"] from webkit
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
}
// Hide from Firefox
input[type=number] {
	-moz-appearance: textfield;
}
