.table-comparison {
	margin-top: 2.5%;

	table {
		margin: auto;

		td {
			border: 1px solid black;
			padding: 1em;
		}

		.td--active {
			font-weight: bold;

			&.level {
				background: blue;

			}
			&.standard {
				background: green;

			}
			&.years {
				background: orange;

			}
		}
	}

	h1 {
		background: transparent;
		color: black;
	}
}
