<!doctype html>
<html ng-app="convertor">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Angular :: KM Convertor</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../build/css/style.css">
	<script src="../bower_components/angular/angular.min.js"></script>
</head>
<body>

	<div class="container">
		<ul class="list--inline list--back"><li><a href="index.html">Angular Index</a></li></ul>
		<h1>Convertors</h1>

		<div class="convertor" >
			<form action="">
				<fieldset ng-controller="KmToMilesController as convertor">
					<legend>KM to Miles Convertor</legend>
					<label for="enterKms">KM</label>
					<div class="input-wrapper">
						<input id="enterKms" type="number" ng-model="convertorKm" value="100" />
						<a href="" data-ng-click="inputClear()" class="input-clear"><span>Clear</span></a>
					</div>
					<output>
						{{ (miles | number: 2) + " miles" }}
					</output>
				</fieldset>

				<fieldset ng-controller="MilestoKmController as convertor">
					<legend>Miles to KM Convertor</legend>
					<label for="enterMiles">Miles</label>

					<div class="input-wrapper">
						<input id="enterMiles" type="number" ng-model="convertorMiles" value="100" />
						<a href="" data-ng-click="inputClear()" class="input-clear"><span>Clear</span></a>
					</div>
					<output>
						{{ (kilometers | number :2 ) + " kilometers" }}
					</output>
				</fieldset>

			</form>
		</div>
	</div>
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../js/angular/convertor.js"></script>
</body>
</html>
