/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
    -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
    -ms-flex-align: center;
      align-items: center;
}

body {
  margin: 0;
  transition: background-color 300ms ease;
  background-color: black;
  color: white;
}

.body--on {
  background-color: white;
  color: black;
}



[type="radio"] {
  display: none;
}

[type="radio"]:checked + label i {
  position: absolute;
  top: 15%;
  left: 15%;
  height: 70%;
  width: 70%;
  background-color: #fff;
  border-radius: 50%;
  /* transition: background-color 300ms ease; */
}

label {
  clear: left;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  border: 2px solid #fff;
  text-align: center;
  display: inline-block;
  top: 4px;
  margin-bottom: 1em;
}
label span {
  display: block;
  position: absolute;
  top: 10%;
  right: 2em;
}

label,
input {
  display: block;
}

.body--on [type="radio"]:checked + label i {
  background-color: #C52D3A;
}

.body--on label {
  border-color: #C52D3A;
}
